*
{
	margin: 0px;
	padding: 0px;
  box-sizing: border-box;;
}
nav
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
}
.logo
{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}
.nav-links
{
  display: flex;
  justify-content: space-around;

}